<html class="no-js" lang="ru" xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>TMDB Info</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <script src="scripts/tmdb_lib/themoviedb.js"></script>
    <body><br/>
        <div class="container">
            <div class="jumbotron">
                <div id="tmdbDiv">
                    <!-- Ввод API KEY --->
                    <div id="id_api_key_input" v-if="showApiInput == 1">
                        <div id="api_input_group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-class-prepend">
                                        <label for="api_key_id" class="input-group-text">
                                            API Key for themoviedb.org
                                        </label>
                                    </div>
                                    <input id="api_key_id" type="text" placeholder="api key" class="form-control" required="true"/>
                                    <div class="input-class-append">
                                        <button id="api_key_ok" class="btn btn-success" @click="checkApiKey">OK</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div v-else>
                        <div id="genres_list" v-if="showGenres == 1">
                            <center>
                                <h4>Please Choose Movies Category</h4>
                            </center>
                            <div class="row">
                                <center>

                                <button class=" btn btn-secondary mx-1 my-1" @click="showByGenre"
                                v-for="item in genres" :id=item.id >
                                    {{ item.name }}
                                </button>
                                </center>
                            </div>
                        </div>
                        <div v-else>
                            <div id="movies_list"  v-if="showMoviesList == 1">
                                <center>
                                    <h3>Current Genre <strong>{{ currentGenreTitle }}</strong></h3>
                                    <button class="btn btn-outline-danger" @click="toGenresList">Back To Categories</button><br/>
                                    <h5>Movies found: {{ currentGenreResults }}</h5>
                                    <br/>
                                    <!-- pagination -->
                                    <button id="first_page" class="btn btn-secondary" :disabled="currentPage == 1" @click="firstPage"><b>&#171;</b></button>
                                    <button id="previous_page" class="btn btn-secondary" :disabled="currentPage == 1" @click="previousPage"><b>&#8249;</b></button>
                                    <i>current page <b>{{ currentPage }}</b></i> of {{ currentGenrePages }}
                                    <button id="next_page" class="btn btn-secondary" :disabled="currentPage == currentGenrePages" @click="nextPage"><b>&#8250;</b></button>
                                    <button id="last_page" class="btn btn-secondary" :disabled="currentPage == currentGenrePages" @click="lastPage"><b>&#187;</b></button>
                                    <br/><br />

                                    <table class="table table-bordered table-striped">
                                        <thead class="table thead-dark">
                                            <tr>
                                                <th></th>
                                                <th>title</th>
                                                <th>release date</th>
                                                <th>original language</th>
                                                <th>popularity</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="item in currentGenreMoviesList">
                                                <td>
                                                    <img :src=item.poster_url height="150px"/>
                                                </td>
                                                <td valign="middle">
                                                    {{ item.title }}
                                                </td>
                                                <td valign="middle">
                                                    {{ item.release_date }}
                                                </td>
                                                <td valign="middle">
                                                    {{ item.original_language }}
                                                </td>
                                                <td valign="middle">
                                                    {{ item.popularity }}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <br/>
                                    <!-- pagination -->
                                    <button id="first_page" class="btn btn-secondary" :disabled="currentPage == 1" @click="firstPage"><b>&#171;</b></button>
                                    <button id="previous_page" class="btn btn-secondary" :disabled="currentPage == 1" @click="previousPage"><b>&#8249;</b></button>
                                    <i>current page <b>{{ currentPage }}</b></i> of {{ currentGenrePages }}
                                    <button id="next_page" class="btn btn-secondary" :disabled="currentPage == currentGenrePages" @click="nextPage"><b>&#8250;</b></button>
                                    <button id="last_page" class="btn btn-secondary" :disabled="currentPage == currentGenrePages" @click="lastPage"><b>&#187;</b></button>
                                    <br/><br />
                                </center>
                            </div>
                        </div>
                    </div>
<!--
                    <center>
                        <button class="btn btn-warning" @click="switchPanels">SWITCH</button>
                    </center>
-->

                </div>

            </div>
        </div>
        <script src="scripts/main.js" type="text/javascript"></script>
    </body>
</html>
