<html class="no-js" lang="ru" xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>TMDB Info</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <script src="scripts/tmdb_lib/themoviedb.js"></script>
    <body><br/>
        <div class="container">
            <div class="jumbotron">
                <div id="tmdbDiv">
                    <!-- Ввод API KEY --->
                    <div id="id_api_key_input" v-if="enterApiKey == 1">
                        <div id="api_input_group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-class-prepend">
                                        <label for="api_key_id" class="input-group-text">
                                            API Key for themoviedb.org
                                        </label>
                                    </div>
                                    <input id="api_key_id" type="text" placeholder="api key" class="form-control" required="true"/>
                                    <div class="input-class-append">
                                        <button id="api_key_ok" class="btn btn-success" @click="checkApiKey">OK</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div v-else>
                        <div id="genres_list" v-if="genresList == 1">
                            <center>
                                <h4>Please Choose Movies Category</h4>
                            </center>
                            <div class="row">
                                <center>

                                <button class=" btn btn-secondary mx-1 my-1" @click="showByGenre"
                                v-for="item in genres" v-bind:id="item.id">
                                    {{ item.name }}
                                </button>
                                </center>
                            </div>
                        </div>
                    </div>
<!--
                    <center>
                        <button class="btn btn-warning" @click="switchPanels">SWITCH</button>
                    </center>
-->

                </div>

            </div>
        </div>
        <script src="scripts/main.js" type="text/javascript"></script>
    </body>
</html>
